.chatNav {
    background-color: #ffffff;
    height: 100%;
    border-right:  1px solid #ccc;;
} 
.header {
  display: flex;
  min-height: 50px;
  background-color: #3d5345;
  color: #fff;
  padding: 5px 10px;
  align-items: center;
  border-bottom: 1px solid #818181;

}
.rooms{
    height: 100%;
    overflow-y: scroll;
}

.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-tile {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.profile-photo {
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  border-radius: 50%;
  margin-right: 12px;
}

.message-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-stamp {
  color: #888;
  font-size: 12px;
}
.userName {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 1.2em;
}
.lastMessage {
  font-size: small;
  opacity: 0.7;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 1.2em;
}
.userStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
}
.status {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid rgb(63, 63, 63);
  background-color: grey;
  margin-bottom: 5px;
}
.online {
  background-color: rgb(1, 255, 1);
}
