
.container {
    display: grid;
    grid-template-columns: 400px auto;
    height: 100vh;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}


