* {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}
/* For WebKit browsers */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #78c3f5;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
